<div class="col-md-3 col-lg-3 portfolio-item">
  <%= link_to mimo do %>
    <%= image_tag mimo.photo.url(:medium), class: "img-responsive", alt: mimo.title %>
  <% end %>
  <h3>
    <%= link_to mimo.title, mimo %>
  </h3>
  <%= truncate(mimo.description, length: 95) %>
  <br>
  <%= link_to mimo, class: "btn btn-primary bottom" do %>
    Mas información <span class="glyphicon glyphicon-chevron-right"></span>
  <% end %>
  <div class="text-center bottom-buttons">
    <a class="btn btn-social-icon btn-twitter">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="btn btn-social-icon btn-facebook">
      <i class="fa fa-facebook"></i>
    </a>
    <a class="btn btn-social-icon btn-google-plus">
      <i class="fa fa-google-plus"></i>
    </a>
  </div>
</div>