<p id="notice"><%= notice %></p>
<p>
<%= image_tag @mimo.photo.url(:thumb) %>
</p>
<p>
  <strong>Title:</strong>
  <%= @mimo.title %>
</p>

<p>
  <strong>Case:</strong>
  <%= @mimo.case %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mimo.description %>
</p>

<p>
  <strong>Race:</strong>
  <%= @mimo.race %>
</p>

<p>
  <strong>Size:</strong>
  <%= @mimo.show_size %>
</p>

<p>
  <strong>City:</strong>
  <%= @mimo.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @mimo.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @mimo.state %>
</p>

<p>
  <strong>Street:</strong>
  <%= @mimo.street %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @mimo.coordinates %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mimo.name %>
</p>

<p>
  <strong>Color1:</strong>
  <%= @mimo.color1 %>
</p>

<p>
  <strong>Color2:</strong>
  <%= @mimo.color2 %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @mimo.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @mimo.age %>
</p>

<%= link_to 'Edit', edit_mimo_path(@mimo) %> |
<%= link_to 'Back', mimos_path %>
