<p id="notice"><%= notice %></p>
<h1><%= @mimo.title %></h1>
<% if current_user && current_user.mimos.include?(@mimo) %>
  <%= link_to "Borrar", mimo_path(@mimo), method: 'delete', class: "btn btn-lg btn-danger pull-right", data: {confirm: 'Esto borrara el mimo. ¿Estas seguro?'} %>
  <%= link_to "Editar", edit_mimo_path(@mimo), class: "btn btn-lg btn-info pull-right" %>
  <%= link_to "¡Solucionado!", change_status_mimo_path(@mimo), method: 'put', class: "btn btn-lg btn-success pull-right", data: {confirm: 'Esto sacará el mimo de las busquedas, ¿estas seguro?'} %>
<% end %>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="social-buttons">
      <a class="btn btn-social-icon btn-twitter" target="_blank" href=<%= twitter_share_url(@mimo) %> >
        <i class="fa fa-twitter"></i>
      </a>
      <a class="btn btn-social-icon btn-facebook" target="_blank" href=<%= facebook_share_url(@mimo) %> >
        <i class="fa fa-facebook"></i>
      </a>
      <a class="btn btn-social-icon btn-google-plus" target="_blank" href=<%= google_plus_share_url(@mimo) %> >
        <i class="fa fa-google-plus"></i>
      </a>
    </div>
    <h2 style="color: red"><%= @mimo.show_status %></h2>
    <p>
      <%= image_tag @mimo.photo.url(:original), class: "img-responsive", alt: @mimo.title %>
    </p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h1>
      <strong><%= @mimo.show_mimo_case %></strong>
    </h1>

    <p>
      <%= @mimo.description %>
    </p>

    <p>
      <strong>Raza:</strong>
      <%= @mimo.race %>
    </p>

    <p>
      <strong>Tamaño:</strong>
      <%= @mimo.show_size %>
    </p>

    <p>
      <strong>Dirección:</strong>
      <%= @mimo.address %>
    </p>

    <p>
      <strong>Nombre/s:</strong>
      <%= @mimo.name %>
    </p>

    <p>
      <strong>Color principal:</strong>
      <%= @mimo.color1 %>
    </p>

    <p>
      <strong>Color secundario:</strong>
      <%= @mimo.color2 %>
    </p>

    <p>
      <strong>Sexo:</strong>
      <%= @mimo.gender %>
    </p>

    <p>
      <strong>Edad aproximada:</strong>
      <%= @mimo.age %>
    </p>
  </div>
</div>

